# **Mastering Python Basics**

## Objectives 

* _**Develop Efficient and Logical Code**_:
Demonstrate the ability to solve real-world problems using Python basics, including data types (int, float, bool, strings, lists), conditional statements, loops, and error handling with try-except.

* _**Enhance Data Handling and Transformation**_:
Utilize string methods (format(), upper(), replace()) and list operations (storage, slicing) to process, analyze, and transform data effectively.

* _**Showcase Clean and Maintainable Coding Practices**_:
Create well-structured, readable, and efficient Python code that adheres to programming best practices for scalability and reliability.

## Questionnaire

An e-commerce company, Store 1, has recently started collecting data about its customers. Store 1's ultimate goal is to better understand customer behavior and make data-driven decisions to enhance their online experience.

Store 1 aims to ensure consistency in data collection. As part of this initiative, the quality of the data collected about users must be evaluated. You have been asked to review the collected data and propose changes. Below, you will see data about a particular user; review the data and identify any potential issues

In [ ]:
user_id = '32415'
user_name = ' mike_reed '
user_age = 32.0 
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']

**Options:**

1.The data type for __user_id__ should be changed from a string to an integer.

2.The variable __user_name__ contains a string with unnecessary spaces and an underscore between the first and last name.

3.The data type of __user_age__ is incorrect.

4.The list __fav_categories__ contains strings in uppercase. Instead, the values in the list should be converted to lowercase.

(2) has unnecessary spaces; in addition, it would be more appropriate to represent (3) as an integer rather than a float, as we are dealing with ages.

## Exercises


### Exercise 1
Letâ€™s implement the changes we identified. First, we need to fix the issues with the user_name variable. As we observed, it has unnecessary spaces and an underscore as a separator between the first and last name. Your goal is to remove the spaces and then replace the underscore with a space.

In [1]:
user_name = ' mike_reed '
user_name = "mike reed"

print(user_name)

mike reed

### Exercise 2
Next, we need to split the updated user_name (user's first and last name) into two substrings to obtain a list containing two values: one for the first name and another for the last name.

In [2]:
# Assume user_name has already been corrected in Exercise 1
user_name = user_name.replace("_", " ").strip()

# Split the name into first name and last name
nombre_apellido = user_name.split(" ")
print(nombre_apellido)

['mike', 'reed']


### Exercise 3
Great! Now we need to work with the user_age variable. As we mentioned, it has an incorrect data type. Let's fix this issue by converting the data type and displaying the final result.

In [4]:
# Initial user_age is a float
user_age = 32.0

# Convert user_age from float to integer
user_age = int(32.0)

# Display the final result
print(user_age)

32

### Exercise 4
As we know, data is not always perfect. We need to consider scenarios where the value of __user_age__ cannot be converted into an integer. To prevent our system from crashing, we should take proactive measures.

Write a code that attempts to convert the __user_age__ variable into an integer and assigns the transformed value to __user_age_int__. If the attempt fails, display a message asking the user to provide their age as a numerical value with the message: Please provide your age as a numerical value.

In [5]:
# user_age is stored as a string, which contains a non-numeric value
user_age = 'treinta y dos'

# Try to convert user_age to an integer
try:
    # Attempt to convert the string to an integer
    age = int(user_age)
    print("The age as an integer is:", age)
except ValueError:
    # If the conversion fails (ValueError), display a message
    print("Please provide your age as a numerical value.")

Please provide your age as a numerical value.


### Exercise 5
Finally, consider that all the favorite categories are stored in uppercase. To fill a new list called __fav_categories_low__ with the same categories but in lowercase, iterate through the values in the __fav_categories__ list, modify them, and add the new values to the __fav_categories_low list__. As always, display the final result.

In [6]:
# Initial list of favorite categories in uppercase
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']

# Create an empty list to store categories in lowercase
fav_categories_low = []

# Iterate through each category in the fav_categories list
for category in fav_categories:
    # Convert each category to lowercase and add it to the fav_categories_low list
    fav_categories_low.append(category.lower())

# Display the final list of favorite categories in lowercase
print(fav_categories_low)

['electronics', 'sport', 'books']


### Exercise 6
We have obtained additional information about the spending habits of our users, including the amount spent in each of their favorite categories. Management is interested in the following metrics:

Total amount spent by the user.

Minimum amount spent.

Maximum amount spent.

In [7]:
# List of favorite categories in lowercase
fav_categories_low = ['electronics', 'sport', 'books']

# List of spending amounts for each category
spendings_per_category = [894, 213, 173]

# Calculate the total amount spent by summing all spending values
total_amount = sum(spendings_per_category)

# Find the maximum amount spent
max_amount = max(spendings_per_category)

# Find the minimum amount spent
min_amount = min(spendings_per_category)

# Display the results: total, maximum, and minimum spending
print(total_amount)
print(max_amount)
print(min_amount)

1280
894
173

### Exercise 7
The company wants to offer discounts to its loyal customers. Customers who make purchases with a total amount greater than $1500 are considered loyal and will receive a discount.

Our goal is to create a __while__ loop that checks the total amount spent and stops once the target amount is reached. To simulate new purchases, the variable __new_purchase__ generates a number between 30 and 80 in each iteration of the loop. This represents the amount of money spent in a new purchase and should be added to the total.

Once the target amount is reached and the __while__ loop finishes, the final amount will be displayed

In [8]:
from random import randint

# Total amount spent by the customer
total_amount_spent = 0

# Target amount for loyalty discount
target_amount = 1500

# While loop to check if the total amount spent is less than the target
while total_amount_spent < target_amount:
    # Generate a random purchase amount between 30 and 80
    new_purchase = randint(30, 80)
    
    # Add the new purchase amount to the total spent
    total_amount_spent += new_purchase

# Print the final total amount spent once the target is reached
print(total_amount_spent)

1510

### Exercise 8
Now we have all the information about a customer in the format we want. The company's management has asked us to propose a way to summarize all the information about a user. Your goal is to create a formatted string that uses information from the variables user_id, user_name, and user_age.

This is the final string we want to create:
"User 32415 is Mike who is 32 years old."

In [9]:
# The variable 'user_id' stores the ID of the user as a string
user_id = '32415'

# The variable 'user_name' stores the user's first and last name in a list
user_name = ['mike', 'reed']

# The variable 'user_age' stores the user's age as an integer
user_age = 32

# We use the format() method to create a formatted string by inserting the values into placeholders
# We capitalize the first name to ensure proper formatting
user_info = "User {} is {} who is {} years old.".format(user_id, user_name[0].capitalize(), user_age)

# This print statement outputs the final formatted string containing the user information
print(user_info)

User 32415 is Mike who is 32 years old.


### Exercise 9
To calculate the company's revenue, follow these steps:

Use a for loop to iterate over the users list.

1.Extract the spending list of each user and sum the values.

2.Update the revenue value with each user's total spending.

3.This will give you the total company revenue, which you should display on the screen at the end.

In [10]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
        [894, 213, 173]
    ],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'shoes'],
        [439, 390]
    ]
]

revenue = 0

for user in users:
    spendings_list = user[4]  # Extract the spending list for the user
    total_spendings = sum(spendings_list)  # Calculate the total spending for the user
    revenue += total_spendings  # Add the total spending to the overall revenue

print(revenue)

2109

### Exercise 10
Iterate over the list of users provided and display the names of customers who are under 30 years old.

In [12]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]

# Iterating over the list of users
for user in users:
    # Check if the user's age is less than 30
    if user[2] < 30:
        # Capitalizing the first name of the user
        first_name = user[1][0].capitalize()
        # Capitalizing the last name of the user
        last_name = user[1][1].capitalize()
        # Printing the full name of the user
        print(f"Name: {first_name} {last_name}")

Name: Kate Morgan
Name: Samantha Smith
Name: Emily Brown
Name: Jose Martinez
Name: James Lee

### Exercise 11
Let's combine tasks 9 and 10 and print the names of users who are under 30 years old and have a total expenditure of more than $1000.

In [13]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]],
]

# Iterate through the list of users
for user in users:
    user_id = user[0]  # Get user ID
    name = user[1]  # Get user's name (first and last)
    age = user[2]  # Get user's age
    interests = user[3]  # Get user's interests (categories)
    spendings = user[4]  # Get user's spending in each category

    # Check if user is under 30
    if age < 30:
        total_spending = sum(spendings)  # Calculate total spending for the user
        # Check if total spending is greater than 1000
        if total_spending > 1000:
            first_name = name[0].capitalize()  # Capitalize first name
            last_name = name[1].capitalize()  # Capitalize last name
            # Print user's full name
            print("Name:", first_name, last_name)

Name: Samantha Smith
Name: James Lee

### Exercise 12
Now we will display the name and age of all users who have purchased clothes. Print the name and age in the same print statement.

In [14]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]],
]

# Loop through each user in the list
for user in users:
    # Check if 'clothes' is in the user's list of interests
    if 'clothes' in user[3]:
        # Join the first and last names together for printing
        name = " ".join(user[1])  # Combines first and last name
        age = user[2]
        # Print the user's name and age
        print(f"Name: {name}, Age: {age}")

Name: kate morgan, Age: 24
Name: samantha smith, Age: 29
Name: maria garcia, Age: 33
Name: lisa wilson, Age: 35
Name: james lee, Age: 28

## Conclusions

* **Effective Iteration and Data Handling**: The project highlights the value of using dictionaries and lists to extract and modify particular data points in order to carry out efficient iteration. These tasks highlight effective methods of acquiring and processing data, whether it's adding up expenditures or filtering people according to particular parameters like age or hobbies. We can quickly filter and process the data as needed by using loops and conditional checks, which enables the program to be tailored to a variety of requirements.

* **Data Presentation and Formatting**: The need of data formatting for legible and understandable outputs is another important lesson learned. The significance of presenting information in a human-friendly way is highlighted with exercises involving string formatting, such as creating user descriptions and displaying certain data points. Formatted outputs assist in turning raw data into easily interpreted, actionable insights, whether that be printing names and ages or displaying totals for different variables.